<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        
        {% for post in posts %}
            <div>
                <p>published:{{ post.published_date }}</p>
                <h2><a href=''>{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        
        <div>
            <P>公開日:2014/06/14,12:14</P>
            <h2><a href="">２番目の投稿</a></h2>
            <P>こんにちは！よろしくお願いします！</P>
        </div>
    </body>
</html>